<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>

    <style>
        
    </style>
</head>

<body>
<div class="addingcategories">
    
    <form action="/add-Category" method="post" class="category">
        <h2 class="category-head">Add Category</h2>
        <label for="categoryName"  class="category-name">Category Name:</label>
        <input type="text" id="categoryName" name="categoryName" placeholder="Enter category name" class="categoryInput" required>

        <button type="submit" class="add_category">Add Category</button>
    </form>
</div>

</body>

</html>
