<%-include('../partials/adminDashHeader.ejs') %>


<main>
    <div class="row">
      <div class="col-md-8 mb-4 mx-auto mb-4  mt-5">
        <div class="card mb-4" style="background-color:#f5f5f7;">
          <div class="card-header py-3">
            <h5 class="mb-0">Add product</h5>
          </div>
          <div class="card-body">
            
            <form id="addProductForm" enctype="multipart/form-data">
              <div class="card shadow-0 ">
                <div class="p-4" style="background-color:#f5f5f7;">
                  <h5 class="card-title mb-3" style="background-color:#f5f5f7;">Product details</h5>
                  <div class="row">
                  </div>
                  <p id="alert"></p>
                  <div class="col-sm-4 col-6 mb-3">
                    <p class="mb-0">Product Image</p>
                    <div class="form-outline">
                      
                      <img id="imagePreview" class="mt-2"
                      style="max-width: 100px; height: 100px; object-fit: cover;" src="#" alt="Image Preview">
                      <input required type="file" name="image"  multiple  class="form-control-file" accept="image/*" onchange="previewImage(this)">
                      
                    </div>
                  </div>
                  

                  
                  <div class="row">
                    
                    <div class="col-sm-8 ">
                      <p class="mb-0">product name</p>
                      <div class="form-outline">
                        <input required type="text" name="name" class="form-control" id="productName"
                        placeholder="Enter Product Name">
                      </div>
                    </div>
                    
                    
                    
                    <div class="col-sm-8 mb-3">
                      <p class="mb-0">Discription</p>
                      <div class="form-outline">
                          <textarea name="description"   class="form-control" id="productDescription" placeholder="Enter Description"></textarea>
                      </div>
                    </div>

                    
                    
                    <div class="col-sm-4 mb-3">
                      <p class="mb-0">product price</p>
                      <div class="form-outline">
                        <input required type="number" name="price" class="form-control" id="productPrice"
                        placeholder="Enter Product Price">
                      </div>
                      <p class="mb-0" id="PriceWarning" style="display: none; color: red;">price should be positive
                        value</p>
                      </div>

                      <div class="col-sm-3 mb-3">
                        <p class="mb-0">Add Stock</p>
                      <div class="form-outline">
                        <input required type="number" name="stock" class="form-control" id="productStock"
                        placeholder="Enter Product Stock">
                      </div>
                      <p class="mb-0" id="PriceStock" style="display: none; color: red;">stock should be positive
                        value</p>

                    </div>
                    
                    <div class="col-sm-3 mb-3">
                      <p class="mb-0">subCategory</p>
                        <div class="form-outline">
                          <select name="subcategory" id="subCategory" class="form-control">
                            <% categoryList.forEach((category)=>{ %>
                              <%category.subCategory.forEach((sub)=>{ %>

                                <option value="red"><%= sub %></option>
                             <% }) %>
                            <% }) %>
                          </select>
                        </div>
                      </div>
                      
                      <div class="col-sm-3 mb-3">
                        <p class="mb-0">Add Discount(%)</p>
                        <div class="form-outline">
                        <input required type="number" name="discount" class="form-control" id="productDiscount"
                        placeholder="Enter Product Discount">
                      </div>
                      <p class="mb-0" id="PriceDiscount" style="display: none; color: red;">Discount Less than 90% And
                        above 0% </p>
                        
                      </div>

                      <div class="col-sm-3 mb-3">
                        <p class="mb-0">category</p>
                      <div class="form-outline">
                        <select name="category" id="productCategory" class="form-control">
                          <% categoryList.forEach((category)=>{ %>
                            <option value="<%= category.categoryName %>"><%= category.categoryName %></option>
                            <% }) %>
                          </select>
                        </div>
                      </div>

                      <div class="col-sm-3 mb-3">
                        <p class="mb-0">Colors</p>
                      <div class="form-outline">
                          <select name="colors[]" id="productColors" class="form-control" multiple>
                                  <option value="red">Red</option>
                                  <option value="orange">Orange</option>
                                  <option value="yellow">Yellow</option>
                                  <option value="yellow">blue</option>
                                  <option value="yellow">black</option>
                          </select>
                        </div>
                  </div>
                  
                  <div class="col-sm-3 mb-3">
                    <p class="mb-0">size</p>
                    <div class="form-outline">
                      <select name="size" id="productSize" class="form-control">
                        
                        <option value="red">Red</option>
                      </select>
                    </div>
                  </div>

                </div>


                <p class="errorMg" style="color: red !important; text-align: center;"></p>
                <div class="float-end">
                  <button type="submit" id="submitbtn" class="btn btn-success shadow-0 border"
                  style="background-color: #00224e;">Continue</button>
                </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/admin.js"></script>
    <script>
      function previewImage(input) {
        var preview = document.getElementById('imagePreview');
        var file = input.files[0];
        var reader = new FileReader();
        
        reader.onloadend = function () {
          preview.src = reader.result;
        }
        
            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
          }
          
    </script>
    <script src="/js/addProduct.js" async></script>
  </main>