<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <style>

        .container-fluid {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .loginbox {
            background-color: #ffffff;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 40rem;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .loginbox p {
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .inputForm {
            text-align: center;
        }

        .inputForm label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        .inputForm input {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        .loginBtn {
            background-color: #000000;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <section>
        <div class="container-fluid">
            <div class="loginsection d-flex align-items-center justify-content-center">
                <div class="loginbox">
                    <div>
                        <p>Forgot password</p>
                    </div>
                    <div class="inputForm">
                        <form action="/admin/forget-password" method="post" id="forgetForm">
                            <div style="color: red;"><%=error%></div>
                            <label for="email">Email</label>
                            <input type="text" name="email" />
                            <div>
                                <button class="loginBtn" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
