<!-- header section  -->

<%-include('../partials/adminHeader.ejs') %>

<!-- header section  -->

  <section class="vh-200 " style="background-color: rgb(255,255,255);"<div
    class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
              <h2 class="text-uppercase text-center mb-5 h" style="color: #777777; font-weight: bold;">Create an
                account</h2>

              <form action="/admin/signup" method="post"  id="signup">

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" name="name" class="form-control form-control-lg"  style="background-color: #d9d9d99d;"
                    placeholder="Name" />
                </div>
                
                  
                <div class="form mb-4">
                  <div id="emailTooltip" class="tooltips" style="color: red !important"></div>
                  <input type="email" name="email" id="email" class="form-control form-control-lg" style="background-color: #d9d9d99d;" placeholder="Email" value="">
                </div>
                  

                  
                  <div class="form-outline mb-4 row">
                    <div id="phoneTooltp" class="tooltips" style="color: red !important"></div>
                    <div class="col-md-3">
                      <select class="form-select form-select-lg" name="countryCode" style="background-color: #d9d9d99d;">
                        <option value="+91">+91</option>
                        <option value="+1">+1</option>
                        
                      </select>
                    </div>
                  
                    <!-- Input for entering the rest of the phone number -->
                    <div class="col-md-9">
                      <input type="tel" name="phone" id="phone" class="form-control form-control-lg" style="background-color: #d9d9d99d;" placeholder="Phone Number" value="">
                    </div>
                  </div>
                 
                 
                  <div class="form mb-4">
                    <div id="passwordTooltip" class="tooltips" style="color: red !important"></div>
                    <input type="password" name="password" id="password" class="form-control form-control-lg" style="background-color: #d9d9d99d;" placeholder="Password" />
                  </div>
                  


                 
                  <div class="form mb-4">
                  <div id="confirmTooltips" class="tooltips" style="color: red !important;"></div>
                  <input type="password" name="confirmPassword" id="confirmPassword" style="background-color: #d9d9d99d;"
                  class="form-control form-control-lg " placeholder="confirmPassword">
                </div>
               

                

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                
                  <h1> </h1>
                  
                  
                    <!-- <div class="d-flex justify-content-center">
                      <button type="submit"  class="btn btn-success btn-block btn-lg  "
                        style="color: white; background-color: #00224e;; box-shadow: none;">Send OTP</button>
                    </div> -->
                    <button class="btn-success" type="submit">Send OTP</button>
                    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/admin/login"
                        class="fw-bold text-body"><u>Login here</u></a></p>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</body>
<script src="js/signupValidation.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>

</html>

<!-- include footer -->

  <!-- /include footer -->