

<!-- include header -->
<%-include('../partials/header.ejs') %>
<!-- /include header -->

<div class="row">
  <div class="col-md-8 mb-4 mx-auto mb-4  mt-5" >
    <div class="card mb-4" style="background-color:#f5f5f7;">
      <div class="card-header py-3">
        <h5 class="mb-0">Add Address</h5>
      </div>
      <div class="card-body">
        <form action="/Add-address" method="post">
          <div class="card shadow-0 " >
            <div class="p-4" style="background-color:#f5f5f7;">
              <div class="row">
              </div>
              <div class="row">
                <div class="col-sm-8 mb-3">
                  <p class="mb-0">Address</p>
                  <div class="form-outline">
                    <input type="text" id="typeText" placeholder="Type here" class="form-control" name="address" />
                  </div>
                </div>

                <div class="col-sm-4 mb-3">
                  <p class="mb-0">City</p>
                  <div class="form-outline">
                    <input type="text" id="typeText" name="city" placeholder="city" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-4 mb-3">
                  <p class="mb-0">District</p>
                  <div class="form-outline">
                    <input type="text" id="typeText" name="district" placeholder="District" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-4 mb-3">
                  <p class="mb-0">State</p>
                  <div class="form-outline">
                    <input type="text" id="typeText" name="state" placeholder="State" class="form-control" />
                  </div>
                </div>

                <div class="col-sm-4 mb-3">
                  <p class="mb-0">House NO.</p>
                  <div class="form-outline">
                    <input type="number" id="typeText" placeholder="Type here" name="house_No" class="form-control" />
                  </div>
                </div>

                <div class="col-sm-4 col-6 mb-3">
                  <p class="mb-0">Postal code</p>
                  <div class="form-outline">
                    <input type="number" id="typeText" name="postcode" class="form-control" />
                  </div>
                </div>

                <div class="col-sm-4 col-6 mb-3">
                  <p class="mb-0">Alternate Number</p>
                  <div class="form-outline">
                    <input type="number" id="typeText" name="altr_number" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-4 col-6 mb-3">
                  <p class="mb-0">Country</p>
                  <div class="form-outline">
                    <input type="text" id="typeText" name="country" placeholder="Type here" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="float-end">

                <button type="submit" class="btn btn-black shadow-0 border">Continue</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer.ejs') %>