
<!-- header section  -->

<%-include('../partials/header.ejs') %>

<!-- header section  -->

<!-- Navbar -->
  <section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 m-0 loginsection d-flex align-items-center justify-content-center">
                <div class="loginbox">
                    <div style="text-align: center; font-weight: bolder;">
                        <p>Forgot password</p>
                    </div>
                       
                   
                    
                    <div class="inputForm d-inline-block">
                        <form action="/forget/password" method="POST" id="forgetForm">
                            <label class="d-block" for="email">Email</label>
                            <input class="d-block " type="text" name="email" value=""   />
                            <div class="text-center m-0">
                                <button class="loginBtn" type="submit">send OTP</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
